{% extends "App/base.html" %}

{% load static %}

{% block main %}
<div id="about-us" class="container-fluid fh5co-about-us pl-0 pr-0 parallax-window" data-parallax="scroll" data-image-src="images/about-us-bg.jpg">
  <div class="container">
    <div class="col-sm-6 offset-sm-6">
      <h2 class="wow bounceInLeft" data-wow-delay=".25s">ACERCA DE NOSOTROS</h2>
      <hr/>
      <p class="wow bounceInRight" data-wow-delay=".25s">Nuestro objetivo es ayudarte a alcanzar tu mejor versión. Somos una comunidad dedicada al bienestar físico y mental, ofreciendo un espacio donde cada miembro puede sentirse apoyado en su viaje hacia una vida más saludable. Con un equipo de profesionales altamente capacitados y un ambiente motivador, estamos comprometidos a brindarte las mejores herramientas para que logres tus metas de fitness."

        "Nuestro gimnasio está diseñado para personas de todas las edades y niveles de condición física. Ya sea que busques perder peso, ganar músculo, mejorar tu resistencia o simplemente mantenerte activo, tenemos programas adaptados a tus necesidades. Además, ofrecemos una variedad de actividades y entrenamientos grupales para que te sientas parte de nuestra comunidad."
        
        "Nos apasiona ver a nuestros miembros superar sus límites y alcanzar nuevas metas. Creemos en la importancia de un enfoque integral que combine ejercicio, nutrición y bienestar mental. En [Nombre del Gimnasio], cada entrenamiento es una oportunidad para mejorar, crecer y sentirte mejor contigo mismo."
        
         </p>
      <a class="btn btn-lg btn-outline-danger d-inline-block text-center mx-auto wow bounceInDown">Learn More</a> </div>
  </div>
</div>
{% endblock main %}