{% extends "App/base.html" %}

{% load static %}

{% block main %}

<div class="container-fluid fh5co-network" style="background-color: #f2f2f2; padding: 50px 0;">
    <div class="container">
      <h2 class="text-center">Sucursales</h2>
      <hr />
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre de Sucursal</th>
            <th>Dirección</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sucursal Nueva Córdoba</td>
            <td>Av. Juan B. Justo 2500, Nueva Córdoba, Córdoba</td>
            <td>(0351) 123-4567</td>
          </tr>
          <tr>
            <td>Sucursal Cerro</td>
            <td>Av. Costanera 1500, Cerro de las Rosas, Córdoba</td>
            <td>(0351) 234-5678</td>
          </tr>
          <tr>
            <td>Sucursal General Paz</td>
            <td>Av. General Paz 1200, General Paz, Córdoba</td>
            <td>(0351) 345-6789</td>
          </tr>
          <tr>
            <td>Sucursal Barrio Jardín</td>
            <td>Av. Recta Martinolli 2500, Barrio Jardín, Córdoba</td>
            <td>(0351) 456-7890</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  






{% endblock main %}